
@import "vars";

/*==========  Desktop First  ==========*/

@media (max-width: 1690px) {
  .s-brains {
    padding: 20px 0;
    &__content {      
      margin-bottom: 10px;
    }
    &__phone {
      margin-left: -20px;
    }
  }
}

@media (max-width: 1450px) {
  .s-brains {
    &__content {      
      margin-bottom: 10px;
    }
    &__phone {
      max-height: 580px;
    }
    &__block {      
      max-width: 450px;
    }
    &__title {
      img {
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
    &__text {
      margin: 25px 0;
    }
    &__app {
      img {
        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .s-brains {
    &__content {      
      margin-bottom: 0;
    }
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
  
}

// ≥992px
@include media-breakpoint-down(md) {
  .grow {
    display: none;
  }
  .s-brains {
    height: auto;
    padding: 50px 15px 50px;

    &__main {
      height: auto;
      margin: 0;
    }
    
    &__content {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }

    &__phone {
      max-height: none;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  
  
}

// ≥576px
@include media-breakpoint-down(xs) {
  .s-brains {
    &__phone {
      flex-direction: column;
      // margin: 0 auto;
      img {
        &:last-child {
          margin: -40px 0 20px;
        }
      }
    }

    &__text {
      font-size: 16px;
    }

    &__app {
      a {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      img {
        &:first-child {
          margin: 0 0 20px 0;
        }
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}