@import './fonts';
@import './_mixins/circle';

$default_family: OpenSans, Arial;
$title_family: OpenSans, Arial;
$font_size: 14px;
$title_color: #fff;
$text_color: #fff;

$accent: #FFCC00;;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 10px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1450px, 3xl: 1690px, 4xl: 1920px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1340px, 3xl: 1590px, 4xl: 1590px);

$gutter: $grid-gutter-width;
