@import './base';

.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.grow {
  flex-grow: 1;
}

.s-brains {
  position: relative;
  z-index: 0;
  // overflow: hidden;
  height: 100vh;
  padding: 30px 0;

  &__video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: none;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/grid.png");
    background-color: rgba(#000, .5);
    z-index: -1;
  }
  
  &__phone {
    display: flex;
    flex-shrink: 0;
    margin-top: -5%;
    img {
      flex-shrink: 0;
      &:last-child {
        margin-left: -210px;
        // margin-left: -29.5%;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: -4% 0 0;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  &__block {    
    max-width: 492px;
    width: 100%;
  }

  &__title {
    img {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 18px;
    font-weight: normal;
    margin: 30px 0 35px;
  }

  &__app {
    img {
      &:first-child {
        margin-right: 50px;
      }
    }
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    span {
      color: #FCD802;
    }
  }
}




@import './_media';